.menu-add {
    text-align: right;
    margin: 1rem 0;

    .menu-add-btn {
        padding: 3px 8px;
        min-width: 32px;

        span {
            margin-left: 5px;
        }
    }
}

.table {
    border-collapse: collapse;
    max-width: 900px;

    tr {

        th,
        td {
            border: 1px solid var(--border-color);
            padding: 10px;
            text-align: center;
        }

        th {
            &:first-child {
                border-top-left-radius: 7px;
            }

            &:last-child {
                border-top-right-radius: 7px;
            }
        }

        td {
            .active {
                .active-btn {
                    // border: 2px solid var(--icon-color);
                    padding: 3px 6px;
                    min-width: 32px;
                }
            }

            .menu {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
        }
    }
}

.dialog-component {
    padding: 2rem;
    text-align: center;

    h1 {
        font-size: 48px;
    }

    .box {
        margin: 1rem auto;
        padding: 1rem;
    }
}