.menu-add {
    text-align: right;
    margin: 1rem 0;

    .menu-add-btn {
        padding: 3px 8px;
        min-width: 32px;
    }
}

.table {
    border-collapse: collapse;
    max-width: 900px;

    tr {

        th,
        td {
            border: 1px solid var(--border-color);
            padding: 10px;
            text-align: center;
        }

        th {
            &:first-child {
                border-top-left-radius: 7px;
            }

            &:last-child {
                border-top-right-radius: 7px;
            }
        }

        td {
            .active {
                .active-btn {
                    padding: 3px 6px;
                    min-width: 32px;
                }
            }

            .menu {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
        }
    }
}

.dialog-component {
    padding: 2rem;
    text-align: center;

    h1 {
        font-size: 48px;
    }

    .box {
        margin: 1rem auto;
        padding: 1rem;
        display: flex;
        justify-content: center;

        .upload {
            cursor: pointer;
            width: 100px;
            height: 100px;
            border-radius: 7px;
            border: 3px solid var(--icon-color);
            border-style: dashed;
            display: grid;
            place-items: center;

            .icon {
                color: var(--icon-color);
                font-size: 64px;
            }
        }
    }

    .btn-submit {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .user-info {
        margin: 1rem auto;
        text-align: left;
        line-height: 2rem;
        max-width: 500px;

        p {
            display: grid;
            grid-template-columns: 80px 1fr;

            b {
                text-align: center;
            }
        }
    }
}