.table-toolbar {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .date {
        font-size: 28px;
    }

    .navigate {
        .button {
            transition:
                color .5s ease-out,
                opacity .5s ease-out;

            &:disabled {
                color: var(--disabled-color);
                opacity: 0.3;
            }
        }
    }
}

.table {
    $cell-width: 120px;
    max-width: calc($cell-width * 7);
    width: 100%;
    margin: auto;
    user-select: none;

    .row {
        display: grid;
        grid-template-columns: repeat(7, $cell-width);

        .col {
            position: relative;
            cursor: pointer;
            border: 1px solid var(--border-color);
            display: grid;
            place-items: center;
            width: 100%;
            font-size: 20px;
            height: 80px;
            transition:
                border .35s ease,
                color .35s ease;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                content: "";
                width: 0;
                height: 0;
                border-radius: 50%;
                background-color: rgba(161, 170, 255, 0.062);
                transition:
                    width 0s ease,
                    height 0s ease,
                    opacity 0s ease,
                    border-radius 0s ease;
            }

            &:active {
                background-color: rgba(161, 170, 255, 0.062);
            }

            &:hover:not(.head):not(.expand),
            &.selected {
                color: var(--text-active-color);
                border: 1px solid var(--text-active-color);
            }

            &.head {
                font-size: 16px;
                height: 40px;
            }

            &.selected {
                &::before {
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    border-radius: 0%;
                    transition:
                        width .25s linear,
                        height .25s linear,
                        opacity .25s ease,
                        border-radius 1s ease;
                }
            }
        }
    }
}