.app {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content {
    color: var(--text-normal-color);
    background-color: var(--primary-color);
    width: calc(100% - var(--sidebar-width));
    min-height: 100vh;
    padding: 75px 0;
    display: grid;
    grid-template-columns: 1fr 242px;
}

@media screen and (max-width:1024px) {
    .content {
        width: 100%;
    }
}