.app {
    min-height: 100vh;
    height: 100%;
    display: flex;
}

.content {
    color: #fff;
    background-color: var(--primary-color);
    width: calc(100% - var(--sidebar-width));
    padding: 75px 15px;
}