* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

:root {
    --primary-color: #0a1929;
    --second-color: #001e3c;
    --disabled-color: #777;
    --border-color: #c2e0ff14;
    --hover-background: #3399ff3d;
    --icon-color: #3399ff;
    --text-normal-color: #b2bac2;
    --text-light-color: #fff;
    --text-active-color: #66b2ff;
    --navbar-height: 65px;
    --sidebar-width: 300px;
    --pages-width: 900px;
}

a {
    text-decoration: none;
}

.topic {
    color: var(--text-light-color);
}

.page-container {
    max-width: var(--pages-width);
    width: 100%;
    margin: 2rem auto;
}